#banner {
    height: 30px;
    background-color: chocolate;
}

#stats {
    height: 150px;
    background-color: greenyellow;
}

#pack {
    height: 400px;
    background-color:firebrick;
    clear: both;
}

#inputArea {
    height: 250px;
    background-color: aqua;
    clear: both;
}

.inputBox {
    padding-left: 2%;
    margin-left: 0.5%;
}

#inputBet {
    width: 45%;
    background-color: green;
    float: left;

}

#inputPass {
    width: 45%;
    background-color: red;
    float: left;
}